<html>
    <head>
        <style>
        </style>
    </head>

<h1>Please login to view your Log.</h1>
    <div>
        <form class="" action="/login" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <br>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <br>
                <input type="submit" name="submit" value="Log In">
                <p>Don't have an account yet? </p>
                <p><a href='/signup' style="color:silver;">Sign up here.</a></p>

               <p><a href='/' style="color:silver;">Back to the main page.</a></p>
        </form>
    </div>
</html>