<h1> - Welcome to your Log - <h1>

<br>
<h2> Your Encounters: <h2>
<br>
<% @logs.each do |log| %>

   <a href="/logs/<%=log.id%>"><%= log.date %></a></p>

   <% end %>
   <br>
   <br>
<h3><a href='/logs'>See other Explorers' Encounters!</a></p>
<h3><a href='/logout'>Log Out</a></p>
   