<h1> - Welcome to your Log - <h1>

<br>
<h2> Your Encounters: <h2>
<br>
<% @logs.each do |log| %>

   <a href="/logs/<%=log.id%>" style="color:red;" ><%= log.date %> </a></p>

   <% end %>
   <br>
   <br>
<h3><a href='/logs' style="color:silver;">See other Explorers' Encounters!</a></p>
<h3><a href='/logout' style="color:silver;" >Log Out</a></p>
   