<html>
    <head>
        <style>
        </style>
    </head>
<h1>Sign Up Here.</h1>
    <div>
      <%= "Must include username and password" if @user && @user.errors.any? %>
        <form action="/signup" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" />
            </div>
            <br>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <br>
                <input type="submit" >
                <h2> Already Have an Account? Login or return to the homepage below. <h2>
                <p><a href='/login' style="color:silver;">Login here.</a></p>

                <a href='/' style="color:silver;">Back to the main page.</a></p>
        </form>
    </div>
</html>
