<h1>MuirLog<h1>


<h3>Hello, Explorer. Sign up or login to create your Log.</h3>


            <a id="signup" href="/signup"><button>Begin your Log</button></a>
            <a id="login" href="/login"><button>Log In</button></a>
        </div>
    </div>
</div>
</html>