<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Muir Log</title>
        <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    </head>
      <body>
        <main>
          <%= yield %>
        </main>
      </body>
  </html>