<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Muir Log</title>
        <style>
            html, body {
                width: 100%;
                height: 100%;
            }

            body {
                background-image: url("https://www.yfaguides.com/uploads/2/5/5/9/25590724/stargazing-valley_orig.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;
            }

            main {
                background: white;
                margin: auto;
                max-width: 960px;
                padding: 2.25%;
                width: 85%;
            }
        </style>
    </head>
      <body>
        <main>
          <%= yield %>
        </main>
      </body>
  </html>